.submitDiv {
  text-align: center;
}

.submit {
  width: 275px;
  height: 45px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  border-radius: 20px;
  margin: 25px auto;
  font-weight: 700;
  letter-spacing: 3px;
}

@media only screen and (min-width: 600px) {
    .submit {
        width: 375px;
        margin-top: 40px;
        font-size: .9rem;
    }
}
